* {
    box-sizing: border-box;
  }

  body {
   font-family: Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
  }

  nav {
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  nav> div{
    display: flex;
  }

  #cont1 {           
    flex: 15%;         
  }

  #cont2 {         
   width: 70%;
   margin-right: 70px;
   margin-left: 70px;         
   flex: 70%;        
   justify-content: flex-end;
  }

  #cont3 {          
    flex: 15%;
  } 

  #cont3> span:not(:last-child){
    margin-right: 30px;
  }
  .icons {
    font-size: 20px;
    height: 30px;
    padding-top: 5px;
  }
  .icons:hover {
    cursor: pointer;
  }

  #first {
    padding-right: 30px;
  }

  img{
    width: 100px;
    height: 30px;
    object-fit: contain;
  }

  #superscript {
    font-size: x-small;
    margin-left: 3px;
    cursor: pointer;
    }
  form{
    /* display: flex; */
    flex: 1;
    }

  #cont2 > form > input {
    color: rgb(119, 117, 117);
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    font-size: 16px;                   
    height: 30px; 
    padding: 10px;
    width: 100%; 
    /* flex: 1; */
    }

  #searchbtn {
    color: rgb(119, 117, 117);
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    background-color:rgb(238, 237, 237);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    }

  #voicebtn {
    padding-left: 20px;
    margin-right: 0;
    } 

  #profile {
    background-color:#8C6E63; 
    width: 35px; 
    height: 35px; 
    box-sizing: border-box; 
    border-radius: 50%; 
    text-align: center; 
    padding: 10px;
    font-size:15px;
    color:white;
    }  